@import 'variables';
@import 'helper';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.commentBox {
  background-color: $color-primary;
  @include border-radius(20px);

  * {
    @include border-radius(20px);
  }

  margin: 10px;
  padding: 20px;

  div {
    padding: 10px;
    margin: 10px;
  }

  .commentList {
    .comment {
      border-left: 5px solid $color-secondary;

      &:hover{
        border-left: 5px solid darken($color-secondary, 50%);
      }
    }
  }

  .commentForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    //background-color: darken($color-primary, 5%);
    border: 2px dashed darken($color-primary, 20%);


    input[type='text'], textarea {
      align-self: stretch;
    }

    input[type='Submit'] {
      background-color: darken($color-primary, 20%);
      padding: 15px 30px;
      align-self: flex-start;
      font-size: 1.5em;
    }

    * {
      margin: 10px;
      padding: 10px 20px;
      resize: vertical;
      align-self: flex-start;
    }
  }
}
